# 1. importing pandas and loading data

In [192]:
import pandas as pd

In [193]:
df=pd.read_csv('survey_results_public.csv')

In [194]:
df.tail(10)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
64451,64104,NaN,Yes,NaN,19,NaN,NaN,NaN,Poland,NaN,NaN,NaN,NaN,Data scientist or machine learning specialist,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fairly important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,A few times per month or weekly,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,2,NaN
64452,64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64453,64330,NaN,Yes,NaN,5,NaN,NaN,NaN,Thailand,NaN,NaN,NaN,NaN,"Data or business analyst;Developer, mobile;Sen...",Primary/elementary school,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS,C++;HTML/CSS,.NET,.NET,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial,"Hello, old friend",Stack Overflow for Teams (private Q&A for orga...,Watch help / tutorial videos,MacOS,NaN,iOS,iOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
64454,64480,NaN,Yes,NaN,21,NaN,NaN,NaN,Morocco,NaN,NaN,NaN,NaN,NaN,I never completed any formal education,Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not sure/can't remember,"No, not really",NaN,Less than once per month or monthly,NaN,NaN,NaN,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,3,NaN
64455,64567,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,NaN,Microsoft SQL Server,NaN,NaN,NaN,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,Java,NaN,Ansible,NaN,NaN,Github,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Android,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASP.NET Core,NaN,NaN,NaN,NaN
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,NaN,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,Oracle,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript,HTML/CSS,Node.js,NaN,Github;Gitlab,Confluence;Jira;Slack;Microsoft Teams,NaN,NaN,NaN,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow,Windows,NaN,NaN,Linux;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,MariaDB;Microsoft SQL Server,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript;SQL,.NET Core;Xamarin,.NET;.NET Core,Github;Microsoft Teams,Github,NaN,NaN,Critically important,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial;Ask developers I know/work ...,Indifferent,NaN,Meditate;Visit Stack Overflow;Go for a walk or...,Windows,NaN,Arduino;Linux;Raspberry Pi;Windows,Android;Arduino;Linux;Raspberry Pi;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [195]:
df.head(2)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [196]:
df.shape

(64461, 61)

In [197]:
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_rows', 61)

In [198]:
schema_df = pd.read_csv('survey_results_schema.csv')

In [199]:
schema_df.head(10)

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3            Age  What is your age (in years)? If you prefer not...
4     Age1stCode  At what age did you write your first line of c...
5       CompFreq   Is that compensation weekly, monthly, or yearly?
6      CompTotal  What is your current total compensation (salar...
7  ConvertedComp  Salary converted to annual USD salaries using ...
8        Country                                 Where do you live?
9   CurrencyDesc  Which currency do you use day-to-day? If your ...

# 2. DataFrames and Series

In [200]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [201]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [202]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [203]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [204]:
type(people)

dict

In [205]:
df_test = pd.DataFrame(people)

In [206]:
df_test

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [207]:
type(df_test)

pandas.core.frame.DataFrame

In [208]:
df_test['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [209]:
df_test.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [210]:
df_test[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [211]:
df_test.columns

Index(['first', 'last', 'email'], dtype='object')

In [212]:
df_test.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [213]:
df_test.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

## test on real data

In [214]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [215]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3        Yes
4        Yes
        ...
64456    Yes
64457    Yes
64458    Yes
64459    Yes
64460    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [216]:
type(df['Hobbyist'])

pandas.core.series.Series

In [217]:
df.iloc[0:2,3]

0   NaN
1   NaN
Name: Age, dtype: float64

In [218]:
df.iloc[0:2,[3,5,6]]

   Age CompFreq  CompTotal
0  NaN  Monthly        NaN
1  NaN      NaN        NaN

In [219]:
df.iloc[0:2,3:6]

   Age Age1stCode CompFreq
0  NaN         13  Monthly
1  NaN         19      NaN

In [220]:
df.loc[0:2,"Age"]

0   NaN
1   NaN
2   NaN
Name: Age, dtype: float64

In [221]:
df.loc[0:2,["Age","CompFreq","CompTotal"]]

   Age CompFreq  CompTotal
0  NaN  Monthly        NaN
1  NaN      NaN        NaN
2  NaN      NaN        NaN

In [222]:
df.loc[0:2,"Age":"CompTotal"]

   Age Age1stCode CompFreq  CompTotal
0  NaN         13  Monthly        NaN
1  NaN         19      NaN        NaN
2  NaN         15      NaN        NaN

# 3. Indexes

In [223]:
df_test.set_index('email',inplace=True)

In [224]:
df_test

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [225]:
df_test.loc['CoreyMSchafer@gmail.com':"JaneDoe@email.com", 'last']

email
CoreyMSchafer@gmail.com    Schafer
JaneDoe@email.com              Doe
Name: last, dtype: object

In [226]:
df_test.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [227]:
df_test.reset_index(inplace=True)
df_test

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

## applying on real data

In [228]:
schema_df.set_index('Column', inplace=True)
schema_df.sort_index(inplace=True)
schema_df

                                                                   QuestionText
Column
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
Hobbyist                                                Do you code as a hobby?
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MainBranch                    Which of the following options best describes ...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Respondent                    Randomized respondent ID number (not in order ...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
Sexuality                     Which of the following describe you, if any? P...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [229]:
schema_df.reset_index(inplace=True)
schema_df.head()

          Column                                       QuestionText
0            Age  What is your age (in years)? If you prefer not...
1     Age1stCode  At what age did you write your first line of c...
2       CompFreq   Is that compensation weekly, monthly, or yearly?
3      CompTotal  What is your current total compensation (salar...
4  ConvertedComp  Salary converted to annual USD salaries using ...

# 4. Filtering

In [230]:
df_test

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [231]:
filter=(df_test['last'] == 'Schafer') | (df_test['first'] == 'John')
df_test.loc[~filter]

               email first last
1  JaneDoe@email.com  Jane  Doe

## working on real data

In [232]:
country=["Ethiopia","United States","United Kingdom"]
filt=df["Country"].isin(country)
df[filt]["Country"].value_counts()

United States     12469
United Kingdom     3896
Ethiopia             59
Name: Country, dtype: int64

In [233]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [234]:
df.loc[filt]['LanguageWorkedWith'].head()

2                             Objective-C;Python;Swift
7                                           Python;SQL
9                  HTML/CSS;Java;JavaScript;Python;SQL
12                                 C;JavaScript;Python
14    Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
Name: LanguageWorkedWith, dtype: object

# 5. updating rows and columns

In [235]:
df_test.columns = ['first_name', 'last_name', 'email']
df_test

                first_name last_name    email
0  CoreyMSchafer@gmail.com     Corey  Schafer
1        JaneDoe@email.com      Jane      Doe
2        JohnDoe@email.com      John      Doe

In [236]:
df_test.columns = [x.lower() for x in df_test.columns]
df_test

                first_name last_name    email
0  CoreyMSchafer@gmail.com     Corey  Schafer
1        JaneDoe@email.com      Jane      Doe
2        JohnDoe@email.com      John      Doe

In [237]:
df_test.rename(columns={"first_name":"first", "last_name":"last"}, inplace=True)

In [238]:
df_test.loc[2]=['John', 'Smith', 'JohnSmith@email.com']
df_test

                     first   last                email
0  CoreyMSchafer@gmail.com  Corey              Schafer
1        JaneDoe@email.com   Jane                  Doe
2                     John  Smith  JohnSmith@email.com

In [239]:
df_test.columns=["first", "last","email"]

In [240]:
df_test.loc[2,"last"]='ftsum'
df_test

                     first   last                email
0  CoreyMSchafer@gmail.com  Corey              Schafer
1        JaneDoe@email.com   Jane                  Doe
2                     John  ftsum  JohnSmith@email.com

In [241]:
df_test.at[2, 'last'] = 'Doe'
df_test

                     first   last                email
0  CoreyMSchafer@gmail.com  Corey              Schafer
1        JaneDoe@email.com   Jane                  Doe
2                     John    Doe  JohnSmith@email.com

In [242]:
filt = (df_test['email'] == 'JohnDoe@email.com')
df_test.loc[filt, 'last'] = 'Smith'

In [243]:
df_test

                     first   last                email
0  CoreyMSchafer@gmail.com  Corey              Schafer
1        JaneDoe@email.com   Jane                  Doe
2                     John    Doe  JohnSmith@email.com

In [244]:
df_test['email'] = df_test['email'].str.lower()
df_test

                     first   last                email
0  CoreyMSchafer@gmail.com  Corey              schafer
1        JaneDoe@email.com   Jane                  doe
2                     John    Doe  johnsmith@email.com

In [245]:
df_test['email'].apply(len)

0     7
1     3
2    19
Name: email, dtype: int64

In [246]:
def update_email(email):
    return email.upper()

In [247]:
df_test['email']=df_test['email'].apply(update_email)
df_test

                     first   last                email
0  CoreyMSchafer@gmail.com  Corey              SCHAFER
1        JaneDoe@email.com   Jane                  DOE
2                     John    Doe  JOHNSMITH@EMAIL.COM

In [248]:
df_test['email'] = df_test['email'].apply(lambda x: x.lower())
df_test

                     first   last                email
0  CoreyMSchafer@gmail.com  Corey              schafer
1        JaneDoe@email.com   Jane                  doe
2                     John    Doe  johnsmith@email.com

In [249]:
df_test.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [250]:
df_test.apply(pd.Series.min)

first    CoreyMSchafer@gmail.com
last                       Corey
email                        doe
dtype: object

In [251]:
df_test.applymap(str.lower)

                     first   last                email
0  coreymschafer@gmail.com  corey              schafer
1        janedoe@email.com   jane                  doe
2                     john    doe  johnsmith@email.com

In [252]:
df_test['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

0    NaN
1    NaN
2    NaN
Name: first, dtype: object

In [253]:
df_test['first'] = df_test['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

In [254]:
df_test

                     first   last                email
0  CoreyMSchafer@gmail.com  Corey              schafer
1        JaneDoe@email.com   Jane                  doe
2                     John    Doe  johnsmith@email.com

## applying on real data

In [255]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)

In [256]:
df['SalaryUSD']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
64456   NaN
64457   NaN
64458   NaN
64459   NaN
64460   NaN
Name: SalaryUSD, Length: 64461, dtype: float64

In [257]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3        Yes
4        Yes
        ...
64456    Yes
64457    Yes
64458    Yes
64459    Yes
64460    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [258]:
df['Hobbyist'].map({'Yes': True, 'No': False})

0         True
1        False
2         True
3         True
4         True
         ...
64456     True
64457     True
64458     True
64459     True
64460     True
Name: Hobbyist, Length: 64461, dtype: object

In [259]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False})

In [260]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,True,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,False,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,True,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,True,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"Iâ€™m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",True,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

# 6 Add and Remove rows and columns

In [261]:
df_test.rename(columns={"first":'email','email':'first'},inplace=True)

df_test['first'] + ' '+ df_test['last']

0              schafer Corey
1                   doe Jane
2    johnsmith@email.com Doe
dtype: object

In [262]:
df_test['full_name']=df_test['first'] + ' '+ df_test['last']

In [263]:
df_test.drop(index=2, inplace=True)

In [264]:
df_test.drop(columns=["first", "last"],inplace=True)

In [265]:
df_test[['first','last']]=df_test['full_name'].str.split(' ', expand=True)

In [266]:
df_test

                     email      full_name    first   last
0  CoreyMSchafer@gmail.com  schafer Corey  schafer  Corey
1        JaneDoe@email.com       doe Jane      doe   Jane

In [267]:
filt = df_test['last'] == 'Doe'
df_test.drop(index=df_test[filt].index)

                     email      full_name    first   last
0  CoreyMSchafer@gmail.com  schafer Corey  schafer  Corey
1        JaneDoe@email.com       doe Jane      doe   Jane

In [268]:
df_test.append({'first': 'Tony'}, ignore_index=True)

                     email      full_name    first   last
0  CoreyMSchafer@gmail.com  schafer Corey  schafer  Corey
1        JaneDoe@email.com       doe Jane      doe   Jane
2                      NaN            NaN     Tony    NaN

In [269]:
people = {
    'first': ['Tony', 'Steve'], 
    'last': ['Stark', 'Rogers'], 
    'email': ['IronMan@avenge.com', 'Cap@avenge.com']
}
df2 = pd.DataFrame(people)

In [270]:
df_test.append(df2, ignore_index=True, sort=False)

                     email      full_name    first    last
0  CoreyMSchafer@gmail.com  schafer Corey  schafer   Corey
1        JaneDoe@email.com       doe Jane      doe    Jane
2       IronMan@avenge.com            NaN     Tony   Stark
3           Cap@avenge.com            NaN    Steve  Rogers

# 7 Sorting

In [271]:
df_test.sort_values(by='last', ascending=False)

                     email      full_name    first   last
1        JaneDoe@email.com       doe Jane      doe   Jane
0  CoreyMSchafer@gmail.com  schafer Corey  schafer  Corey

In [272]:
df_test.sort_values(by=['last', 'first'], ascending=False)

                     email      full_name    first   last
1        JaneDoe@email.com       doe Jane      doe   Jane
0  CoreyMSchafer@gmail.com  schafer Corey  schafer  Corey

In [273]:
df_test.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [274]:
df_test.sort_index()

                     email      full_name    first   last
0  CoreyMSchafer@gmail.com  schafer Corey  schafer  Corey
1        JaneDoe@email.com       doe Jane      doe   Jane

In [275]:
df_test['last'].sort_values()

0    Corey
1     Jane
Name: last, dtype: object

##  applying on real data

In [280]:
df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False], inplace=True)

In [282]:
df[['Country', 'SalaryUSD']].head(10)

           Country  SalaryUSD
61540  Afghanistan  1000000.0
63925  Afghanistan  1000000.0
63993  Afghanistan  1000000.0
38261  Afghanistan   231192.0
28270  Afghanistan   130000.0
9806   Afghanistan    23328.0
62520  Afghanistan    23328.0
50812  Afghanistan    20950.0
50469  Afghanistan    20220.0
43642  Afghanistan    18660.0

In [283]:
df['SalaryUSD'].nlargest(10)

5701     2000000.0
53175    2000000.0
42657    2000000.0
58136    2000000.0
45753    2000000.0
121      2000000.0
123      2000000.0
191      2000000.0
663      2000000.0
697      2000000.0
Name: SalaryUSD, dtype: float64

In [285]:
df.nlargest(10, 'SalaryUSD')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
5701,5725,I am a developer by profession,False,26.0,14,Monthly,1.800000e+05,2000000.0,Canada,United States dollar,USD,Redis,NaN,"Developer, back-end;DevOps specialist","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,Go;Python;Ruby;TypeScript,Bash/Shell/PowerShell;JavaScript;Python,Teraform,NaN,"Github;Gitlab;Google Suite (Docs, Meet, etc)","Github;Google Suite (Docs, Meet, etc)",Yes,Extremely important,Very important,Trouble with my teammates;Better work/life bal...,"Read company media, such as employee blogs or ...",Once a year,No,Yes,No,Often: 1-2 days per week or more,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Go for a walk or oth...,Linux-based,"10,000 or more employees",Docker;Google Cloud Platform,Docker;Google Cloud Platform,I have little or no influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Gatsby,Spring,Not applicable - I did not use Stack Overflow ...,40.0,10,4
53175,54263,I am a developer by profession,True,29.0,10,Weekly,7.000000e+04,2000000.0,Canada,United States dollar,USD,Redis,Firebase;PostgreSQL;SQLite,"Developer, mobile","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,South Asian,Man,"Flex time or a flexible schedule;Languages, fr...",Slightly satisfied,"Iâ€™m not actively looking, but I am open to new...",Go;Haskell;Rust,Dart;Java;JavaScript;Kotlin;Python;TypeScript,React Native;TensorFlow;Torch/PyTorch,Flutter;Node.js,Facebook Workplace,Confluence;Jira;Github;Gitlab;Slack;Microsoft ...,Yes,Extremely important,Somewhat important,Just because;Curious about other opportunities...,"Read company media, such as employee blogs or ...",Every few months,Not sure,Yes,Yes,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate;Visit Stack Overflow;Go for a walk or...,MacOS,NaN,Docker;Heroku;iOS;Kubernetes,Android;AWS;Linux,I have some influence,Straight / Heterosexual,Not sure/can't remember,"Yes, somewhat",NaN,Daily or almost daily,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,Express;Flask;jQuery,Just as welcome now as I felt last year,36.0,14,5
42657,43430,I am a developer by profession,True,33.0,17,Monthly,1.710000e+05,2000000.0,Italy,United States dollar,USD,NaN,NaN,"Academic researcher;Developer, back-end;Develo...","Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,Assembly;Bash/Shell/PowerShell;C;C++;Perl;Python,Assembly;Bash/Shell/PowerShell;C;C++;Perl;Python,NaN,NaN,Confluence;Jira;Github;Gitlab;Slack;Google Sui...,Confluence;Jira;Github;Gitlab;Slack;Google Sui...,Yes,Somewhat important,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once every few years,Not sure,Yes,No,Often: 1-2 days per week or more,Start a free trial,Indifferent,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Go for a walk or oth...,Linux-based,"10,000 or more employees",Android;Linux;MacOS;Windows,Android;Linux;MacOS;Windows,I have some influence,Straight / Heterosexual,Yes,"No, not at all",I have never participated in Q&A on Stack Over...,A few times per month or weekly,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,2
58136,59279,I am a developer by profession,True,NaN,12,Monthly,3.000000e+05,2000000.0,Nepal,United States dollar,USD,Cassandra;Couchbase;DynamoDB;IBM DB2;MariaDB;M...,Elasticsearch;Firebase;Microsoft SQL Server;My...,Data or business analyst;Data scientist or mac...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,South Asian;Southeast Asian,NaN,Flex time or a flexible schedule;Remote work o...,Very satisfied,"Iâ€™m not actively looking, but I am open to new...",Dart;Go;Haskell;Julia;Kotlin;Perl;PHP;R;Ruby;R...,Assembly;Bash/Shell/PowerShell;C;C#;C++;HTML/C...,Ansible;Apache Spark;Flutter;Hadoop;Keras;Pand...,.NET;.NET Core;Chef;Cordova;Node.js;React Nati...,Gitlab;Trello,Confluence;Jira;Github;Facebook Workplace;Slac...,Yes,Extremely important,NaN,Having a bad day (or week or month) at work;Tr...,"Read company media, such as employee blogs or ...",NaN,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,"1,000 to 4,999 employees",Arduino;Heroku;IBM Cloud or Watson;Kubernetes;...,Android;AWS;Docker;Google Cloud Platform;iOS;L...,I have a great deal of influence,NaN,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Multiple times per day,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Django;Drupal;Flask;Gatsby;Laravel,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,A lot more welcome now than last year,40.0,20,14
45753,46711,I am a developer by profession,True,NaN,Younger than 5 years,Yearly,1.000000e+56,2000000.0,Nomadic,United States dollar,USD,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Academic researcher;Data or business analyst;D...,Primary/elementary school,Employed full-time,NaN,NaN,"Languages, frameworks, and other technologies ...",Very satisfied,"Iâ€™m not actively looking, but I am open to new...",Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,.NET;.NET Core;Ansible;Apache Spark;Chef;Cordo...,.NET;.NET Core;Ansible;Apache Spark;Chef;Cordo...,Confluence;Jira;Github;Gitlab;Facebook Workpla...,Confluence;Jira;Github;Gitlab;Facebook Workpla...,Yes,Extremely important,Not at all important/not necessary,Just because;Having a bad day (or week or mont...,"Read company media, such as employee blogs or ...",Every few months,NaN,Yes,NaN,Often: 1-2 days per week or more,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate;Play games;Call a coworker or friend;...,NaN,"10,000 or more employees",Android;Arduino;AWS;Docker;Google Cloud Platfo...,Android;Arduino;AWS;Docker;Google Cloud Platfo...,I have little or no influence,NaN,NaN,NaN,NaN,Multiple times per day,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,168.0,More than 50 years,More than 50 years
121,123,I am a developer by profession,True,26.0,12,Weekly,1.200000e+05,2000000.0,United States,United States dollar,USD,Cassandra;Firebase;MongoDB;PostgreSQL;Redis,Cassandra,"Developer, back-end;Developer, full-stack","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,"Languages, frameworks, and other technologies ...",Neither satisfied nor dissatisfied,"Iâ€™m not actively looking, but I am open to new...",C;C++;Go;Kotlin;Rust,Bash/Shell/PowerShell;C++;Go;Java;Python,Flutter;Hadoop;TensorFlow;Unreal Engine,.NET Core,Confluence;Jira;Github;Slack,Confluence;Jira;Github;Gitlab;Slack;Microsoft ...,Yes,Somewhat important,Very important,Trouble with my direct manager;Trouble with le...,"Read company media, such as employee blogs or ...",Once a year,Yes,No,No,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,Linux-based,"10,000 or more employees",Android;Arduino;AWS;Docker;Google Cloud Platfo...,AWS;Docker;Linux;Raspberry Pi,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,Daily or almost daily,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask;jQuery;React.js,Spring,Just as welcome now as I felt last year,36.0,8,3
123,125,"I am not primarily a developer, but I write co...",True,41.0,30,Monthly,2.000000e+05,2000000.0,United States,United States dollar,USD,PostgreSQL,PostgreSQL,Data scientist or machine learning specialist;...,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,White or of European descent,Man,Flex time or a flexible schedule;Family friend...,Very satisfied,I am not interested in new job opportunities,Python,Python;SQL,Keras;Pandas;TensorFlow;Torch/PyTorch,Keras;Pandas;TensorFlow,Jira,Jira,Not sure,Neutral,Critically important,Better work/life balance,Personal network - friends or family;Directly ...,Once every few years,No,Yes,No,Occasionally: 1-2 days per quarter but less th...,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,Windows,"5,000 to 9,999 employees",Docker;Kubernetes,Docker,I have little or no influence,Straight / Heterosexual,Not sure/can't remember,"No, not really",NaN,Multiple times per day,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,40.0,11,11
191,193,I am a developer by profession,True,29.0,16,Weekly,1.200000e+05,2000000.0,United States,United States dollar,USD,NaN,NaN,"Developer, mobile","Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,White or of European descent,Man,Specific department or team Iâ€™d be working on;...,Very satisfied,"Iâ€™m not actively looking, but I am open to new...",Objective-C;Swift,Java;JavaScript;Objective-C;Swift,NaN,NaN,"Github;Slack;Trello;Google Suite (Docs, Meet, ...",Github;Gitlab;Slack;Microsoft Teams;Trello;Goo...,No,Neutral,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Every few months,No,Onboarding? What onboarding?,No,Never,NaN,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Do other work ...,MacOS,10 to 19 employees,Android;iOS,Android;iOS,I have little or no influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,A few times per week,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,7
663,665,I am a developer by profession,True,24.0,13,Weekly,1.500000e+05,2000000.0,United States,United States dollar,USD,NaN,PostgreSQL,"Developer, front-end","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Black or of African descent;Biracial,Woman,Diversity of the company or organization;Flex ...,Very satisfied,I am not interested in new job opportunities,HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;Python;Ruby,Node.js,Node.js,"Jira;Github;Slack;Google Suite (Docs, Meet, etc)","Jira;Github;Slack;Google Suite (Docs, Meet, etc)",Yes,Extremely important,Somewhat important,Better compensation;Trouble with leadership at...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,Indifferent,Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,MacOS,"1,000 to 4,999 employees",AWS;Google Cloud Platform;Kubernetes;Linux;Mac...,Google Cloud Platform;Heroku;MacOS;WordPress,I have little or no influence,Bisexual;Queer,Yes,"No, not really",I have never participated in Q&A on Stack Over...,A few times per month or weekly,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",React.js,Express;React.js;Ruby on Rails,Just as welcome now as I felt last year,40.0,4,Less than 1 year
697,699,"I am not primarily a developer, but I write co...",True,39.0,16,Weekly,5.200000e+04,2000000.0,United States,United States dollar,USD,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL,Microsoft SQL Server;MySQL,System administrator,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,Diversity of the company or organization;Offic...,Slightly satisfied,I am actively looking for a job,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...,.NET;.NET Core;Pandas;Puppet;Unreal Engine,NaN,Microsoft Teams;Microsoft Azure;Trello;Google ...,Jira;Microsoft Teams;Microsoft Azure;Trello;Go...,No,Somewhat important,Critically important,Growth or leadership opportunities,"Read company media, such as employee blogs or ...",Once a year,NaN,No,No,Often: 1-2 days per week or more,Start a free trial;Visit developer communities...,"Hello, old friend",I have never visited any of these sites,Call a coworker or friend;Visit Stack Overflow...,Windows,100 to 499 employees,Android;Arduino;AWS;Google Cloud Platform;Kube...,WordPress,NaN,Straight / Heterosexual,NaN,NaN,NaN,NaN,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular;ASP.NET;ASP.NET Core;Express;Flask,NaN,NaN,40.0,5,2

In [284]:
df.nsmallest(10, 'SalaryUSD')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
35168,35295,I am a developer by profession,True,NaN,13,Monthly,2.0,0.0,Afghanistan,Afghan afghani,AFN,NaN,MySQL;PostgreSQL;SQLite,Academic researcher;Educator;Scientist,"Other doctoral degree (Ph.D., Ed.D., etc.)","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,Very dissatisfied,I am actively looking for a job,NaN,Assembly;Bash/Shell/PowerShell;C;C++;Java;Java...,NaN,TensorFlow;Unity 3D,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a year,Yes,Onboarding? What onboarding?,Yes,Often: 1-2 days per week or more,Read ratings or reviews on third party sites l...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Go for a walk or other physical act...,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",NaN,Android;iOS;Linux;MacOS,NaN,NaN,Yes,"No, not at all",Less than once per month or monthly,Multiple times per day,Neither easy nor difficult,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,jQuery,A lot less welcome now than last year,100.0,35,27
46385,47357,I am a developer by profession,True,NaN,5,Weekly,1.0,0.0,Albania,Bhutanese ngultrum,BTN,MariaDB,NaN,Academic researcher,Primary/elementary school,Employed full-time,NaN,NaN,Family friendliness,Neither satisfied nor dissatisfied,I am actively looking for a job,Bash/Shell/PowerShell;C,NaN,Hadoop,NaN,"Google Suite (Docs, Meet, etc)",NaN,No,Extremely important,Somewhat important,Just because,"Read company media, such as employee blogs or ...",Once a decade,NaN,Yes,No,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Play games,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",AWS,NaN,NaN,NaN,Yes,"No, not at all",Daily or almost daily,A few times per month or weekly,NaN,NaN,NaN,NaN,Drupal,NaN,Somewhat less welcome now than last year,168.0,2,11
6029,6054,I am a developer by profession,True,38.0,15,Yearly,0.0,0.0,Australia,Australian dollar,AUD,NaN,MySQL,"Designer;Developer, back-end;Developer, front-...","Secondary school (e.g. American high school, G...","Independent contractor, freelancer, or self-em...",NaN,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,I am not interested in new job opportunities,NaN,PHP,NaN,NaN,NaN,NaN,No,Neutral,Not at all important/not necessary,NaN,NaN,Once every few years,Not sure,Onboarding? What onboarding?,Yes,Often: 1-2 days per week or more,NaN,Indifferent,Stack Overflow (public Q&A for anyone who code...,NaN,MacOS,"Just me - I am a freelancer, sole proprietor, ...",NaN,MacOS,NaN,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,Easy,Too long,No,NaN,NaN,Laravel,A lot less welcome now than last year,30.0,22,20
27035,27135,I am a developer by profession,False,NaN,16,Yearly,0.0,0.0,Australia,Australian dollar,AUD,MySQL,MySQL,Senior executive/VP,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",NaN,Man,Industry that Iâ€™d be working in;How widely use...,Very satisfied,"Iâ€™m not actively looking, but I am open to new...",Go;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;PHP;Python;R;SQL;VBA,Apache Spark;Node.js;Pandas;TensorFlow;Torch/P...,Apache Spark;Node.js;Pandas;TensorFlow;Torch/P...,Jira;Github;Trello,Jira;Github;Trello,No,Extremely important,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Every few months,Not sure,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Start a free trial;Visit developer communities...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Go for a walk ...,Windows,2 to 9 employees,Raspberry Pi;Windows,Google Cloud Platform;Raspberry Pi;Windows,NaN,NaN,Yes,"No, not really",I have never participated in Q&A on Stack Over...,A few times per week,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",Angular.js;Django;jQuery;React.js;Vue.js,Django;jQuery;React.js,Just as welcome now as I felt last year,80.0,15,15
59118,60292,I am a developer by profession,True,NaN,12,Yearly,0.0,0.0,Austria,European Euro,EUR,NaN,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fairly important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"10,000 or more employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,18,10
38395,38813,I am a developer by profession,False,NaN,18,Monthly,0.0,0.0,Azerbaijan,Azerbaijan manat,AZN,NaN,NaN,Academic researcher;Data or business analyst;D...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Critically important,NaN,NaN,NaN,Not sure,NaN,Yes,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,NaN,2 to 9 employees,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,4,3
8438,8470,I am a developer by profession,True,NaN,5,Monthly,30.0,0.0,Bangladesh,Bangladeshi taka,BDT,Elasticsearch;Firebase;MongoDB;MySQL;PostgreSQ...,Firebase;MongoDB;MySQL;Oracle;PostgreSQL;Redis,"Developer, back-end;Developer, front-end;Devel...","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,NaN,NaN,"Iâ€™m not actively looking, but I am open to new...",Bash/Shell/PowerShell;Dart;Go;JavaScript;Pytho...,Assembly;Bash/Shell/PowerShell;C;HTML/CSS;Java...,Flutter;Node.js;React Native;TensorFlow,Node.js,Jira;Github;Gitlab;Slack;Trello;Google Suite (...,Jira;Github;Gitlab;Slack;Trello;Google Suite (...,No,Extremely important,NaN,Curious about other opportunities;Better compe...,NaN,Every few months,NaN,NaN,Yes,Occasionally: 1-2 days per quarter but less th...,Start a free trial,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,MacOS,20 to 99 employees,Android;Arduino;AWS;Docker;Google Cloud Platfo...,Docker;Heroku;Linux;MacOS,NaN,NaN,Yes,"Yes, somewhat",Less than once per month or monthly,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;Laravel;React.js;Vue.js,Django;Express;Gatsby;Laravel;React.js;Vue.js,NaN,NaN,4,2
40410,41006,I am a developer by profession,True,22.0,17,Yearly,0.0,0.0,Belgium,Pound sterling,GBP,NaN,Firebase;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...",Some college/university study without earning ...,"Independent contractor, freelancer, or self-em...",Middle Eastern,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,"Iâ€™m not actively looking, but I am open to new...",C++;Go;Kotlin;Python;Rust,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,React Native;TensorFlow,.NET Core;Node.js,NaN,"Github;Gitlab;Trello;Google Suite (Docs, Meet,...",No,Extremely important,Not at all important/not necessary,NaN,"Read company media, such as employee blogs or ...",Every few months,Not sure,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Read ratings or reviews on third party sites l...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Panic;Do other work and c...,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",Android;iOS;MacOS;Windows,Docker;Google Cloud Platform;Kubernetes;Linux,NaN,Bisexual,Yes,Neutral,A few times per month or weekly,Daily or almost daily,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",NaN,Angular;ASP.NET Core;React.js;Spring,Just as welcome now as I felt last year,30.0,4,3
15442,15493,I am a developer by profession,False,44.0,17,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,DynamoDB,DynamoDB,"Developer, back-end;Developer, front-end;Devel...","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,"Iâ€™m not actively looking, but I am open to new...",JavaScript,HTML/CSS;JavaScript,Node.js;React Native;Teraform,Node.js,Github;Facebook Workplace,Github;Slack;Trello,No,Extremely important,Somewhat important,Curious about other opportunities;Better compe...,Company reviews from third party sites (e.g. G...,Once a decade,No,No,Yes,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow...,Windows,"Just me - I am a freelancer, sole proprietor, ...",AWS;Google Cloud Platform,AWS,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Daily or almost daily,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,4
56246,57369,I am a developer by profession,False,44.0,18,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,DynamoDB,DynamoDB;MongoDB,"Developer, full-stack","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Middle Eastern,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,"Iâ€™m not actively looking, but I am open to new...",JavaScript,JavaScript,Node.js;React Native;Teraform,Node.js,Github;Gitlab;Facebook Workplace;Trello;Stack ...,"Github;Slack;Trello;Google Suite (Docs, Meet, ...",No,Somewhat important,Somewhat important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a decade,No,No,Yes,Often: 1-2 days per week or more,Start a free trial;Visit developer communities...,Indifferent,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow...,Windows,"Just me - I am a freelancer, sole proprietor, ...",AWS,AWS,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Multiple times per day,Easy,Too long,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,5